################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Utility.NetCore/.vs
/Utility.NetCore/Utility.Abstractions/bin
/Utility.NetCore/Utility.Abstractions/obj
/Utility.NetCore/Utility.ApiServiceClient/bin
/Utility.NetCore/Utility.ApiServiceClient/obj
/Utility.NetCore/Utility.Net/bin
/Utility.NetCore/Utility.Net/obj
/Utility.NetCore/Utility.NetCore/bin
/Utility.NetCore/Utility.NetCore/obj
/Utility.NetCore/Utility.NetCore.Test/bin
/Utility.NetCore/Utility.NetCore.Test/obj
/Utility.NetCore/Utility.Log/bin
/Utility.NetCore/Utility.Log/obj
/Utility.NetCore/Utility.NetLog/bin
/Utility.NetCore/Utility.NetLog/obj
/Utility.NetCore/Utility.Locker/bin
/Utility.NetCore/Utility.Locker/obj
/Utility.NetCore/Utility.NetCore.ConsoleApp/bin
/Utility.NetCore/Utility.NetCore.ConsoleApp/obj
/Utility.NetCore/NoticeWorkerService/bin
/Utility.NetCore/NoticeWorkerService/obj
/Utility.NetCore/NoticeWorkerService/Properties
/Utility.NetCore/Utility.NetCore.TestWeb/bin
/Utility.NetCore/Utility.NetCore.TestWeb/.config
/Utility.NetCore/Utility.NetCore.TestWeb/obj
