################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Utility.NetCore/.vs/Utility.NetCore/v16
/Utility.NetCore/Utility.Abstractions/bin/Debug/netstandard2.0
/Utility.NetCore/Utility.Abstractions/obj
/Utility.NetCore/Utility.ApiServiceClient/bin/Debug/netstandard2.0
/Utility.NetCore/Utility.ApiServiceClient/obj
/Utility.NetCore/Utility.Net/bin/Debug
/Utility.NetCore/Utility.Net/obj
/Utility.NetCore/Utility.NetCore/bin/Debug/netstandard2.0
/Utility.NetCore/Utility.NetCore/obj
/Utility.NetCore/Utility.NetCore.Test/bin/Debug/netcoreapp3.1
/Utility.NetCore/Utility.NetCore.Test/obj
/Utility.NetCore/Utility.Abstractions/bin/Release
/Utility.NetCore/Utility.ApiServiceClient/bin/Release
/Utility.NetCore/Utility.Net/bin/Release
/Utility.NetCore/Utility.NetCore/bin/Release
/Utility.NetCore/Utility.NetCore.Test/bin/Release/netcoreapp3.1
/Utility.NetCore/Utility.NetCore.TestWeb/obj
/Utility.NetCore/Utility.NetCore.TestWeb/bin/Release/netcoreapp3.1
/Utility.NetCore/Utility.NetCore/bin/Debug
/Utility.NetCore/Utility.Log/bin/Release
/Utility.NetCore/.vs/Utility.NetCore/config
/Utility.NetCore/Utility.Log/obj
/Utility.NetCore/Utility.NetCore.TestWeb/bin/Debug/netcoreapp3.1
/Utility.NetCore/Utility.NetLog/bin/Release
/Utility.NetCore/Utility.NetLog/obj
/Utility.NetCore/.vs/Utility.NetCore/DesignTimeBuild
/Utility.NetCore/Utility.NetLog/bin/Debug
/Utility.NetCore/Utility.Locker/bin
/Utility.NetCore/Utility.Locker/obj
/Utility.NetCore/Utility.NetCore.ConsoleApp/bin
/Utility.NetCore/Utility.NetCore.ConsoleApp/obj
/Utility.NetCore/NoticeWorkerService/bin/Debug/net5.0
/Utility.NetCore/NoticeWorkerService/obj
/Utility.NetCore/NoticeWorkerService/Properties
/Utility.NetCore/NoticeWorkerService/bin/Release/net5.0
/Utility.NetCore/NoticeWorkerService/bin/Release/netcoreapp3.1
/Utility.NetCore/NoticeWorkerService/bin/Debug/netcoreapp3.1
